$fontRoboto: 'Roboto', sans-serif;

/* footer */
footer{
    padding: 15px 0;
    background: #313131;
    border-top: 5px solid #e03d84;
    line-height: 20px;
    span{
        font-family: $fontRoboto;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
    }
   
}