header{
    a{
        img{
            margin-left: -15px;
        }
    }
}
.btn {
    display: inline-block;
    font-weight: 'medium';
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #e03d84;
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 7px;
    text-transform: uppercase;
}